.dice {
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: khaki;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  user-select: none; /* Ngăn chọn text khi kéo */
  cursor: pointer;
}

button {
  margin-top: 10px;
}
